:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  font-family: "Lexend Deca", sans-serif;

  --standard-font-size: 15px;

  --card-border-radius: 0.6rem;
  background-color: var(--very-light-gray);
}

* {
  box-sizing: border-box;
  margin: 0;
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: clamp(350px, 66vw, 80vw);
  margin: 4rem auto 4rem auto;
}
.card {
  display: grid;
  padding: 4rem;
  gap: 3rem;
}
.card:nth-of-type(1) {
  background-color: var(--bright-orange);
  border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);
}
.card:nth-of-type(2) {
  background-color: var(--dark-cyan);
}
.card:nth-of-type(3) {
  background-color: var(--very-dark-cyan);
  border-radius: 0 var(--card-border-radius) var(--card-border-radius) 0;
}
h1 {
  color: var(--very-light-gray);
  font-size: 2.7rem;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}
p {
  color: var(--transparent-white);
  line-height: 1.5;
  font-size: var(--standard-font-size);
  margin-bottom: 1rem;
}
.card button {
  padding: 0.8rem;
  border-radius: 2rem;
  border: none;
  width: 70%;
  font-size: var(--standard-font-size);
}

.card:nth-of-type(1) button {
  color: var(--bright-orange);
}

.card:nth-of-type(2) button {
  color: var(--dark-cyan);
}

.card:nth-of-type(3) button {
  color: var(--very-dark-cyan);
}

.card button:hover {
  color: var(--transparent-white);
  cursor: pointer;
  background: rgba(0 0 0 / 0);
  box-shadow: 0 0 0 2px currentColor;
}

.attribution {
  position: absolute;
  top: 0;
  left: 0;
}
